<% if object.is_a? SettrSetting %>
  <% if object.alterable %>
    <div class="clearfix string">
      <% case object.typ %>
        <% when 'boolean' %>
          <label class="clearfix"><%= t("settr.#{object.key}") %></label>
          <input type="hidden" name="settr[<%= object.key %>]" value="0" />
          <input type="checkbox" name="settr[<%= object.key %>]" value="1" <%= 'checked' if object.val %> />
        <% when 'string' %>
          <label class="clearfix"><%= t("settr.#{object.key}") %></label>
          <input type="text" name="settr[<%= object.key %>]" value="<%= object.value %>" />
        <% when 'text' %>
          <label class="clearfix"><%= t("settr.#{object.key}") %></label>
          <textarea cols="10" rows="10" name="settr[<%= object.key %>]"><%= object.value %></textarea>
        <% when 'float' %>
          <label class="clearfix"><%= t("settr.#{object.key}") %></label>
          <input type="text" name="settr[<%= object.key %>]" value="<%= object.value %>" />
        <% when 'integer' %>
          <label class="clearfix"><%= t("settr.#{object.key}") %></label>
          <input type="text" name="settr[<%= object.key %>]" value="<%= object.value %>" />
        <% when 'select' %>
          <label class="clearfix"><%= t("settr.#{object.key}._title") %></label>
          <select name="settr[<%= object.key %>]">
            <% object.options.split(', ').each do |option| %>
              <option value="<%= option %>" <%= 'selected' if object.value == option %> ><%= t("settr.#{object.key}.#{option}") %></option>
            <% end %>
          </select>
      <% end %>
    </div>
  <% end %>
<% else %>
  <%= content_tag "h#{level}" do %>
    <%= t("settr.#{key}._title") %>
  <% end if level > 0 %>
  <% object.sort_by{|k, v| k}.each do |k, v| %>
    <%= render :partial => 'setting', :locals => {:object => v, :level => level + 1, :key => "#{key}.#{k}"} %>
  <% end %>
  <div class="horizontal_line grey"></div>
<% end %>