<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash.present? %>
  <% flash.each do |name, msg| %>
    <p><%= msg %></p>
  <% end %>
<% end %>

<%= yield %>

</body>
</html>
